NODE_ENV=development
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Finnhub
FINNHUB_API_KEY=
NEXT_PUBLIC_FINNHUB_API_KEY=
FINNHUB_BASE_URL=https://finnhub.io/api/v1

# MongoDB
MONGODB_URI=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Gemini / Inngest AI
GEMINI_API_KEY=

# Nodemailer SMTP credentials
NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=
